<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Hospital_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <applicationSettings>
    <Hospital_project.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=TAREK\SQLEXPRESS;Initial Catalog=Hospital_Database;Integrated Security=True</value>
      </setting>
    </Hospital_project.Properties.Settings>
    <WindowsFormsApplication1.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.;Initial Catalog=Hospital_Database;Integrated Security=True</value>
      </setting>
    </WindowsFormsApplication1.Properties.Settings>
  </applicationSettings>
</configuration>